* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}
ul, ol {
  list-style: none;
}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: #000000;
  overflow: hidden;
}
#canvas {
  background: #000;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
}
#actions {
  position: fixed;
  left: 36px;
  top: 0;
  padding: 1.2em;
}
#actions svg {
  width: 1.5em;
  height: 1.5em;
  transition: all 0.3s;
  margin: 0 5px;
}
#actions svg.active {
  fill: #CB6B71;
  transform: scale(1.2);
}
.colors {
  position: fixed;
  top: 60px;
  left: 25px;
}
.colors > li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  margin: 10px 0;
}
.colors > li.active{
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.95);
  transform: scale(1.2);
  transition: all 0.3s;
}
.colors > li.red{
  background: red;
}
.colors > li.blue{
  background: blue;
}
.colors > li.yellow {
  background: yellow;
}
.colors > li.black {
  background: #000;
}
.sizes {
  position: fixed;
  top: 188px;
  left: 25px;
}
.sizes > li {
  margin: 20px 0;
}
.sizes > .thin {
  height: 0;
  width: 20px;
  border-top: 3px solid;
}
.sizes > .thick {
  height: 0;
  width: 20px;
  border-top: 6px solid;
}
