* {
  margin: 0;
  padding: 0;
}

#canvas {
  background: lightpink;
  display: block;
}
.actions {
  position: fixed;
  left: 0;
  top: 0;
}
.actions > #brush {
  display: none;
}
.actions.showBrushButton > #brush {
  display: inline-block;
}
.actions.showBrushButton > #eraser {
  display: none;
}